mat-spinner{
  align-self: center;
  margin: 10px;

}
mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #274C77;
}

.containerDialog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

